h1 {text-align:center;
   color:white;
   font-family:arial;
   font-size:36px;}
p {font-family:georgia;
  color:white;
  font-size:24px;
  }
body {background-color:black;
     }
ul {list-style-type:none;
    color:white;
   }
li {display:inline;
   padding:10px;
    font-family:arial;
    color:white;
   }
img {width:250px;}
